<!DOCTYPE html>
<html lang="en">
<style>
  form {
    width: 35%;
    margin: auto;
  }
  .result {
    width: 35%;
    margin: auto;
    border: 1px solid #ccc;
  }
</style>
  <head>
    <meta charset="UTF-8" />
    <title>Прогнозирование зарплаты</title>
  </head>
  <body>
  <form action="{{url_for('main')}}" method="POST"
    <fieldset>
      <legend>Ведите значение</legend>
      Ваш опыт
      <input type="number" name="experience"
      required>
      <br>
      <br>
      <br>
      <input type="submit">
    </fieldset>
  </form>

  <div class="result" align="center">
    {% if result %}
      <br>
      <p style="font-size:50px">
      Ваша прогнозная зарплата
      </p>
      <p style="font-size:50px"> {{result}}</p>
    {% endif %}
  </div>
  </body>
</html>
